# yaml-language-server: $schema=https://raw.githubusercontent.com/SchemaStore/schemastore/master/src/schemas/json/github-workflow.json

name: Check
on:
  workflow_call:
    inputs:
        skip-test:
          description: 'Whether to skip setting up foundry and test or not. Default to false.'
          default: false
          type: boolean
          required: false

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Set up and install
        uses: ./.github/actions/setup-and-install

      - name: Format and lint code
        run: bun run format && bun run lint

      - name: Build
        run: bun run build

      - name: Check code types
        run: bun run typecheck

      - if: ${{ inputs.skip-test == false }}
        name: Setup nodejs for testing
        uses: actions/setup-node@v4
        with:
          node-version: '22'
      
      - if: ${{ inputs.skip-test == false }}
        name: Run test
        run: bun run test:coverage

      - if: ${{ inputs.skip-test == false }}
        name: make coverage badges
        run: bun run make-badges

      # Auto commit new changes from format, lint, and make-badges
      # ref: https://github.com/stefanzweifel/git-auto-commit-action
      - name: Auto commit
        uses: stefanzweifel/git-auto-commit-action@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          commit_message: 'chore: format, lint, and coverage badges'
          commit_user_name: 'github-actions[bot]'
          commit_user_email: 'github-actions[bot]@users.noreply.github.com'
        
